*{padding:0;
margin: 0;}

header{display: flex;
justify-content:space-between;
padding: 10px 20px 0px;
background-color: white;}

header img{width: 200px;}
ul{list-style: none;}
header li{display: inline-block;}
.asset li{margin-left: 20px;}
.breeze{display: flex;}
.breeze li{margin-right: 20px;}

.proj{background-color:rgb(228, 36, 202);font-weight:600;color:white;border-radius:4px;
border: none;
padding: 8px 15px;}
.vh{display: flex;}
.vh p{font-weight: bold;
font-size: 14px;}
.vh img{width: 40px;
height: 40px;}
.vh span{color: lightgrey;}
.lh{width: 1px;
height: 25px;
background-color: lightgray;}

.DC{display: flex;
background-color: #0E1724;
margin-left: 50px;}
.DC div{margin-left: 10px;}

nav{background-color:#0E1724 ;}
nav button{padding: 12px 15px;
border: none;
color: white;
background-color: #0E1724;
}


.rumble{margin: 10px auto;
display: flex;
justify-content: space-between;}
.const{background-color:#F7F7F7;
height: 150vh;
padding: 20px 50px;}
.creche button:hover{background-color:#323A45;}

.news{width: 750px;
height:850px ;
background-color: white;
padding:15px 0;
border-radius: 4px;}

.merge{display: flex;
padding: 10px;
justify-content: space-evenly;
border-bottom: 1px solid lightgray;}

.merge p{font-size: 14px;}
.re{background-color: #F0F0F0;
border-radius: 5px;
padding: 10px;
height: 300px;}

.re button{background-color:rgb(228, 36, 202); }

.re div{margin-top: 15px;}
.re i{color: #5DC26A;}

.match{display: flex;
    padding: 10px;
    justify-content: space-evenly;}

.scar{
padding: 10px;
height: 250px;}

.scar section{margin-top: 10px;
background-color: #F0F0F0;
padding: 8px 10px;
height: 60px;}
.merge img{width: 50px;}

.match p{font-size: 14px;}


.race button{margin-top: 10px;
background-color: white;
padding: 5px 8px;}

.race{display: flex;
justify-content: space-between;}


.ps div{margin-top: 10px;}
.ps i{margin-left: 15px;
font-size: 20px;}
.freeks{color: white;}
.freeks img{width: 20px;}
.freeks li{margin-top: 30px;}
footer{padding: 20px 50px;
background-color: #0E1724;
height: 150vh;
width: 100%;}
.fraze li{margin-top: 10px;}
.fraze a{text-decoration: none;
color: gray;
font-size: 14px;}
.fraze a:hover{text-decoration: underline;
color: white;}
.fraze{display: flex;
justify-content:space-evenly;
padding: 20px 40px;
margin-top: 100px;
color: white;}
.six{display: flex;
    justify-content: space-between;
    margin-top: 80px;
    padding: 20px 0px;
    color: white;
    border-top: 1px solid gray;}

.YA{width: 350px;
height: 300px;
padding: 15px 0;
background-color: white;}

.volume{width: 310px;
height: 8px;
background-color: #F0F0F0;

border-radius: 10px;
position: relative;}

.volume::before{
    content: "";
    width:90px;
    height: 8px;
    position: absolute;
    border-radius: 10px;
    background-color: #18A9EE;
}

.vol{padding: 15px 20px;
border-bottom: 1px solid lightgray;}

.set-up{display: flex;
    justify-content: space-between;
}

.add{height: 50px;
width: 320px;
display: flex;
justify-content: space-between;
padding: 12px;
margin-top: 20px;
background-color: #F0F0F0;}

.bal{padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}
.sk{text-decoration: none;}
.sk:hover{text-decoration: underline;} 
.poll{width: 350px;
    height: 300px;
    padding: 15px 0;
    background-color: white;
margin-top: 20px;}



.groups,.manage, .message, .details, .notifications, .browse{position: relative;}
.gro{position: absolute;
background-color: white;
width: 350px;
height: 250px;
left: -100px;
border-radius: 4px;
padding: 15px;
box-shadow: 1px 1px 4px 2px gray;
margin: 8px 0;
display: none;}

.groups:hover .gro{display: block;}

.ee{font-size: 15px;}
.ea:hover{color: blue;}

.manag{position: absolute;
    background-color: white;
width: 400px;
height: 380px;
left: -120px;
border-radius: 4px;
padding: 15px;
box-shadow: 1px 1px 4px 2px gray;
margin: 8px 0;
display: none;
}

.manage:hover .manag{display: block;}
.manag a{text-decoration: none;}
.manag a:hover{text-decoration: underline;}
.mess{position: absolute;
    background-color: white;
width: 380px;
height: 250px;
left:-200px;

border-radius: 4px;
padding: 15px;
box-shadow: 1px 1px 4px 2px gray;
margin: 8px 0;
z-index: 10;}

.message:hover .mess{display: block;}

.gro a, .mess a{text-decoration: none;}
.gro a:hover{text-decoration: underline;}
.mess a:hover{text-decoration: underline;}

.det{position: absolute;
    background-color: white;
width: 280px;
height: 500px;
right: 2px;
border-radius: 4px;
padding: 15px 4px;
box-shadow: 1px 1px 4px 2px gray;
margin: 8px 0;
z-index: 10;
overflow: auto;
display: none;}



.det li{display: block;
margin-top: 14px;}

.det a{text-decoration: none;
font-size: 14px;
color: grey;}

.det section{margin-top: 20px;}
.det a:hover{color: #18A9EE;}

.details:hover .det{display: block;}

.bells{position: absolute;
    background-color: white;
width: 400px;
height: 500px;
right:-200px;
border-radius: 4px;
padding: 15px;
box-shadow: 1px 1px 4px 2px gray;
margin: 8px 0;
z-index: 10;
display: none;}

.fa-address-book{color: #18A9EE;}
.gear{display: flex;
justify-content: space-between;}
.gear button{background: none;
border: none;}
.fa-gear{font-size: 25px;
color:#18A9EE;}

.crecent{position: absolute;
width: 400px;
height: 440px;
padding: 10px;
background-color: white;
left: 0;
overflow: auto;
}

.crecent a{display: flex;
justify-content: space-between;
color: black;
text-decoration: none;
padding: 15px 10px;}

.crecent a:hover{background-color: #F7F7F7;
color: black;} 


.crecent span{float: right;}
.crecent h6{font-size: 15px;}
.icofont-newspaper{font-size: 30px;
color: #18A9EE;
margin-top: 8px;}

.brow{position: absolute;
    background-color: white;
    width: 800px;
    height: 700px;
    left: -100px;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 1px 1px 4px 2px gray;
    margin: 8px 0;
z-index: 10;
display: none;}

.browse:hover .brow{display: block;}


    .inp{padding:5px 8px;
    border: 1px solid black;}
    .inp input{border: none;
    outline: none;
width: 300px;
padding: 3px 0;}
    .inp i{font-size: 20px;}
    .ects{display: flex;
    justify-content: space-between;}

    .ects i{font-size: 40px;
    color:#18A9EE ;}

    .too{display: flex;
    justify-content: space-between;}
    .too section{display: flex;
        justify-content: space-between;}
.too i{font-size: 20px;}
        .fa-star{color: #FFC24E;}
        .icofont-location-pin{color: #18A9EE;}
        .icofont-globe{color: #18A9EE;}
        .fa-font-awesome{color: green;}
        .icofont-diamond{color: #FFC24E;}
        .icofont-notepad{color: #18A9EE;}
        .fa-circle-question{color: #18A9EE;}